@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #5c48ee;
  --primary-color-dark: #0f1e6a;
  --secondary-color: #f9fafe;
  --text-color: var(--white);
  --white: #ffffff;
  --max-width: 1200px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9fd;
}

/*Main Container*/
.container{
    display: flex;
    width: 700px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    background: #fff;

}

/*Left Panel*/
.left-panel{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-dark)
  );
  color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.left-panel{
  
}

h2{
    color: #0f1e6a;
}

#logo{
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*Right Panel*/
/*Right Panel*/
.right-panel{
    width: 60%;
    padding: 10px;
    text-align: center;
}


p{
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group i{
    color: #0f1e6a;
    font-size: 16px;
}